@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* GENERAL */

* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
}
h2 {
  font-size: 25px;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
}
:root {
  --primary: #9356dc;
  --second: #ff79da;
  --tertiary: #99e2d0;
  --black: black;
}
.colorPrimary {
  color: var(--primary);
}
.colorSecond {
  color: var(--second);
}
.colorTertiary {
  color: var(--tertiary);
}
.colorBlack {
  color: var(--black);
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decorationNone {
  text-decoration: none;
}
.textAlign {
  text-align: center;
}
.paddingLeftRight {
  padding: 0 15px;
}
