@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

// GENERAL

* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
}
h2 {
  font-size: 25px;
}

// a {
//   text-decoration: none;
//   color: black;
// }
h3,
p {
  margin: 0;
}
h4 {
  margin: 0;
}
.shrikhand {
  font-family: "Shrikhand", cursive;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAlign {
  text-align: center;
}
.paddingLeftRight {
  padding: 0 15px;
}
.paddingRight{
  padding-right: 4px;
}