@use "../utils/colors.scss";
.city {
  background-color: colors.$bgCity;
  text-align: center;
  padding: 5px;
  gap: 10px;
  & i {
    font-size: 20px;
  }
}
.titleCity {
  font-size: 18px;
  color: colors.$titleCity;
}
