@use "../utils/colors.scss";
@use "../utils/mixins.scss";
// MENU
.menus {
  background-color: colors.$bglight;
  padding: 15px 20px;
  margin-bottom: 32px;
  & .menus-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .new {
    position: relative;
    text-decoration: none;
    color: black;
    &::before {
      content: "Nouveau";
      position: absolute;
      height: 30px;
      width: 80px;
      background-color: colors.$tertiary;
      color: darken(colors.$tertiary, 50%);
      display: grid;
      place-items: center;
      right: 16px;
      top: 16px;
    }
  }
  & .card {
    text-decoration: none;
    color: black;
    &_img {
      background-size: cover;
      height: 240px;
      border-radius: 16px 16px 0 0;
    }
    @for $i from 1 through 4 {
      &_img-#{$i} {
        background-image: url("../assets/restaurants/menu-#{$i}.jpg");
      }
    }
    &_description {
      position: relative;
      background-color: white;
      border-radius: 0 0 16px 16px;
      text-decoration: none;
      color: black;
      & h3 {
        padding: 16px 12px 5px 12px;
      }
      & p {
        margin-left: 12px;
        padding-bottom: 25px;
      }
      @include mixins.heart;
    }
  }
}
