@use "../utils/shadow.scss";
@use "../utils/colors.scss";
@use "../utils/gradient.scss";
/* Work */
.visit {
  padding: 5px 25px;
  background-color: colors.$bglight;
  & h2 {
    margin-top: 45px;
    font-size: 25px;
  }
  & p {
    font-size: 14px;
  }

  .gradientBtn {
    height: 60px;
    width: 65%;
    color: white;
    font-size: 18px;
    font-style: bold;
    padding: 20px, 10px;
    border: none;
    border-radius: 25px;
    @include gradient.gradient;
    transition: 2s;
    margin: 20px 0 50px;
    @include shadow.shadow;
    @media screen and (max-width: 425px) {
      width: 95%;
    }
  }
  .gradientBtn:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
}
