@use "../utils/mixins.scss";
@use "../utils/animations.scss";
@use "../utils/colors.scss";

body{
  background-color: #f6f6f6;
}

.header{
  background-color: white;
}
.header::before{
  @include mixins.font-awesome;
  content: "\f060";
  position: absolute;
  top: 28px;
  left: 60px;
  font-size: 22px;
  @media screen and (max-width: 320px){
    left: 40px;
  }
}

.banner img {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: top;
}

.main {
  position: relative;
  background-color: colors.$bglight;
  border-radius: 32px 32px 0 0;
  margin-top: -120px;
  & h2 {
    font-size: 20px;
  }
  & .titleHeart .far, .titleHeart .fas {
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 4%;
    transform: translateY(-50%);
    @media screen and (min-width: 1023px) {
      top: 45px;
      right: 40px;
    }
  }
  .titleHeart .fas {
    @include mixins.gradient;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  & .titleHeart {
    padding: 10px 20px;
  }
}

.menus-grid {
  background-color: colors.$bglight;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px;
  gap: 16px;
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  & .menu {
    & h3{
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        top: 25px;
        left: 0;
        height: 3px;
        width: 40px;
        background-color: colors.$tertiary;
      }
    }
    & .item {
      $numberItems: 4;
      @for $i from 1 through $numberItems {
        &:nth-child(#{$i}) {
          animation-delay: 600ms * $i;
        }
      }
      display: flex;
      border-radius: 16px;
      background-color: white;
      overflow: hidden;
      margin: 25px 15px;
      @include mixins.shadow;
      animation: appear 4s;
      animation-fill-mode: both;
      & .description-item{
        padding: 10px;
        & h4{
          padding-bottom: 6px;
        }
        & p{
          font-weight: 300;
        }
      }
      & .price{
        margin-left: auto;
        margin-right: 25px;
        font-weight: 900;
        display: flex;
        align-items: flex-end;
        padding: 10px;
      }
      & .check{
        display: grid;
        place-items: center;
        $btn-width:-48px;
        background-color: colors.$tertiary;
        margin-right: $btn-width;
        width: 1 * - $btn-width;
        border-radius: 0 16px 16px 0;
        transition: all 1.3s ease-in-out;
        & .fas .fa-check{
          background: white;
          color: colors.$tertiary;
          width: 50%;
          height: 25px;
          border-radius: 20px;
          opacity: 1;
        }
      }
      &:hover{
        cursor: pointer;
      }
      &:hover .check{
        margin-right: 0px;
      }
       & i{
        display: grid;
        place-items: center;
        background: white;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 25px;
        color: colors.$tertiary;
       }
    }
  }
}
.order{
  height: 10vh;
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
  & .gradientBtn{
    @include mixins.btn-button;
  }
}
